OPENROUTER_API_KEY=
PRIVATE_KEY=
CHAIN_ID=
RPC_URL=
API_KEY= 
#for aurora ( with keeping USE_EOA = true)
AURORA_API_KEY=
# for testing Chainlink cre ( with keeping USE_EOA = true)
CRE_ETH_PRIVATE_KEY=
#for testing Datahaven ( with keeping USE_EOA = true)
DATAHAVEN_RPC_URL=https://services.datahaven-testnet.network/testnet
DATAHAVEN_CHAIN_ID=55931
DATAHAVEN_MSP_URL=
# keep true if you want don't want to use Paymaster and False is to use paymaster 
USE_EOA=true
